*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}
.header-section-start{
    background-color: #1C2B35;
    width: 1440px;
    height: 80px;
}
.header-section-start .navbar{
    display: flex;
    justify-content: space-between;
    position: relative;
    transform: translate(0,-50%);
    top: 50%;
    width: 90%;
    margin: 0 auto;
   
    
}
ul{
    margin: 0;
    padding: 0;
   
}
ul li{
    list-style: none;
    margin-left: 20px;
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 30px 22px;
    font-size: 17px;
    font-weight: 600;
 
}