*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
.header-section{
    justify-content: space-between;
    background-color: #1C2B35;
    padding: 19px 0;
    width: 100%;
    height: 80px;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    
}
.navbar .logo {
    width: 140px;
    height: 42px;
}
.navbar .logo img{
    width: 100%;
    height: 100%;
}
.navbar .nav {
    display: flex;
    margin: 0;
    padding: 0;
}

nav a{
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #fff;
    text-transform: capitalize;
}
@media only screen and (max-width:575px){
    .navbar .logo {
        width: 10%;
        height: 20px;
    }
    .header-section{
        padding: 15px 0;
        width: 100%;
        height: 50px;
        
    }
    nav a{
        font-size: 8px;
        line-height: 10px;
        letter-spacing: 0.005em;
        margin-right: 8px;
    }
}